
body{
    margin: 0px;    
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    font-weight: normal;
}

h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;              
    /* 562.5% or 5.625em - We are not using em and % to not consider parent font */
    /* 16px - 100% , 1em = 16px  90% = 90/16 = 562.5%  */

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bolder;
    /* padding-bottom: 10px; */
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


p{
    line-height: 2;
}

hr{
    width:4%;
    border: dotted #66BFBF 6px;
    border-bottom: none;
    margin: 100px auto;
}

a{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container{

    padding-top: 100px;
    position: relative;
    background-color: #e4f9f5;
}

.profile-img{
height: 200px;
width: 200px;
}

.profile{
    margin-top: 40px;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
}

.skill-img1{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-img2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.middle-container{
    margin: 100px auto ;
}

.bottom-container{

    padding: 50px 0 20px;
    background-color: #66bfbf;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.intro{
    width: 30%;
    margin: auto;
}
.btn{
margin: 0;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.land{
    height: 275px;
}

.footer-link{
    color: #f3f3f3;
    font-weight: bold;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}

.bottom-cloud{
    position: absolute;
    left: 300px;
}